{{ header }}
<div id="common-home" class="container">
    <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}
        </div>
        {{ column_right }}
    </div>
</div>
<div class="seo_text_home">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="catalog/view/theme/sprinks/image/small-picture_v2.jpg" alt="">
            </div>
            <div class="col-sm-9">



                {{ content_bottom }}
            </div>
        </div>
    </div>
</div>

{{ footer }}