<div class="container">
    <nav id="menu" class="navbar">
        <div class="navbar-header">
            <span id="category" class="visible-xs">Меню</span>
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ home_url }}">{{ home_text }}</a></li>
                <li><a href="{{ catalog_url }}">{{ catalog_text }}</a></li>
                <li><a href="{{ servis_url }}">{{ servis_text }}</a></li>
                <li><a href="{{ about_url }}">{{ about_text }}</a></li>
                <li><a href="{{ articles_url }}">{{ articles_text }}</a></li>
                <li><a href="{{ pay_url }}">{{ pay_text }}</a></li>
                <li><a href="{{ contact_url }}">{{ contact_text }}</a></li>
            </ul>
        </div>
    </nav>
</div>
